[user]
    name = KDercksen
    email = mail@koendercksen.com
    signingkey = 3DD29C85

[credential]
    helper = cache --timeout=86400

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[commit]
    gpgsign = true

[push]
	default = simple

[core]
    packedGitLimit = 128m
    packedGitWindowSize = 128m
    fileMode = off

[pack]
    deltaCacheSize = 128m
    packSizeLimit = 128m
    windowMemory = 128m
