[user]
    name = KDercksen
    email = mail@koendercksen.com
    signingkey = 1A8D74C9BFAC6BD4

[credential]
    helper = cache --timeout=86400

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[commit]
    gpgsign = true

[push]
	default = simple

[core]
    packedGitLimit = 128m
    packedGitWindowSize = 128m
    fileMode = off
    excludesfile = ~/.gitignore_global
	autocrlf = input

[pack]
    deltaCacheSize = 128m
    packSizeLimit = 128m
    windowMemory = 128m
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
[merge]
	tool = vimdiff3
[mergetool]
	path = nvim
[init]
	defaultBranch = master
[pull]
	rebase = false
