[user]
	name = KDercksen
	email = koen_37@msn.com
[credential]
	helper = cache --timeout=3600

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
