[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = git@github:davidhalter/jedi-vim
[submodule "vim/.vim/bundle/vim-flake8"]
	path = vim/.vim/bundle/vim-flake8
	url = git@github:nvie/vim-flake8
[submodule "vim/.vim/bundle/pydoc.vim"]
	path = vim/.vim/bundle/pydoc.vim
	url = git@github:fs111/pydoc.vim
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = git@github:ervandew/supertab
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github:tpope/vim-surround
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = git@github:scrooloose/syntastic
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git@github:altercation/vim-colors-solarized
[submodule "vim/.vim/bundle/vim-snipmate"]
	path = vim/.vim/bundle/vim-snipmate
	url = git@github:garbas/vim-snipmate
[submodule "vim/.vim/bundle/vim-addon-mw-utils"]
	path = vim/.vim/bundle/vim-addon-mw-utils
	url = git@github:MarcWeber/vim-addon-mw-utils
[submodule "vim/.vim/bundle/tlib_vim"]
	path = vim/.vim/bundle/tlib_vim
	url = git@github:tomtom/tlib_vim
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = git@github:editorconfig/editorconfig-vim
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = git@github:ctrlpvim/ctrlp.vim
